<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>job contracter's sorry</title>
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="container">
      <h1 class="result_title">Sorry!!</h1>
      <h2 class="result_sentense">we've got nothing from your requests.</h2>
      <button class="sorry_button">Back to Main</button>
    </main>
  </body>
  <script src="{{url_for('static', filename='sorry.js')}}"></script>
</html>
